#menu-home {
    padding: 0; 
    width:960px;
    margin:0 auto;
    height:40px;
}
#menu-home ul {
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
    list-style: none;
    background:#000;
}
#menu-home ul ul {
    margin: 0;
    padding: 0;
    display:none;
}
/* first level */
#menu-home li {
    float: left;
    margin: 0;
    padding: 0 20px 0 0;
    position: relative;
    background:#000;
}
#menu-home li a {
    border: none;
    color: #fff;
    display: block;
    height: 35px;
    line-height: 30px;
    margin: 0!important;
    padding: 0;
    border-top:5px solid #000;
    text-decoration: none;
}
#menu-home a:hover,
#menu-home .current-menu-item  a,
#menu-home a.selected {
    border-top:5px solid #FB4834;
}

.header-inner {
    height:40px;
    background-color:#000;
    border-bottom: solid 2px #fb4834;
    width:100%;
    position:fixed;
}
.menu-home-container {
position:relative;
width:960px;
margin:0 auto;
}
